{% load static %}

    <div class="card mb-3" id="{{comment.id}}">     
        <div class="card-body mr-5">
            <div class="card-text">
                {{comment.markdown }}
            </div>
        </div>
    
        <!-- ------ auther pub avatar ---- -->
        <div class="card-footer p-0 pb-1 pr-3 mr-4">
            <img width="30" src="{{ post.created_by.profile.avatar.url }}" class=" mr-3 rounded-circle"/>
            <small class="text-muted ml-3">{{comment.created_by}}</small>
            <small class="text-muted ml-3">قبل: {{comment.created_at | timesince}}</small>
            <a href="#" class="replay"><small class="text-muted ml-3">أضف ردا</small></a>
        </div>
    

        <div class="post-control-button btn-comment">
            <a href="#" class="btn btn-control btn-sm p-0">
                <i data-feather="chevron-up"></i>
            </a> 
            <div class="text-center" style="line-height: 0.7em">{{ comment.votes_count }}</div>
            <a href="#" class="btn btn-control btn-sm p-0">
                <i data-feather="chevron-down"></i>
            </a>    
        </div>

        <!-- form comment -->
        {% if user.is_authenticated %}
          <form method="POST" action="" class="m-2 clearfix" novalidate style="display: none">
            {% csrf_token %}
            {% include '_form.html' %}
            <input type="hidden" name="parent_id" value="{{comment.id}}"/>
            <button type="submit" class="btn btn-success float-left">أضف ردا</button>
          </form>
        {% endif %}

    

        {% if comment.comments.all.exists %}
            {% for comment in comment.comments.all %}
            <div class="mr-4 card-comment">
                {% include 'app/_comment.html'%}
            </div>
            {% endfor %}
        {% endif %}
      </div>
    
    