{% load static %}
{% load humanize %}

<article class="bg-white rounded shadow-sm mb-4 p-3 text-right mb-3">
    <div class="clearfix">
        <div class="votes position-relative float-right pr-3 pl-4  py-0 text-monospace font-weight-bold">
            <div class="top-arrow"><a href="#"><img src="{% static 'icons/top.svg' %}"></a></div> 
            <div class="text-center" dir="auto">{{ topic.posts.all.first.votes }}</div>
            <div class="bottom-arrow"><a href="#"><img src="{% static 'icons/bottom.svg' %}"></a></div>
        </div>
        <div class="" dir="rtl">
            <img src="{% static 'img/profile.jpg' %}" width="32" class="rounded-circle mt-2 mb-2"/>
            <span class="mr-3"><a href="#">{{topic.posts.all.first.created_by}}</a></span><br>
            <small class="text-muted ml-3"><a href="{% url 'community' topic.community.id %}"> مجتمع: {{ topic.community }}</a></small>  
            <small class="text-muted ml-3"> الوقت:  {{topic.posts.all.first.created_at|naturaltime}}</small>
            <small class="text-muted"> التعليقات:  {{topic.posts.all.count|add:"-1"}}</small>
        </div>
    </div>
    <h5 class="mb-4 mt-2">
        <a href="{% url 'topic' topic.id %}"> <!--class="stretched-link"-->
            {{ topic.subject }}
        </a>
    </h5>
    <div>
        {{ topic.posts.all.first.get_message_as_markdown }}
    </div>
</article>