{% load static %}
{% load humanize %}

<article class="bg-white rounded shadow-sm mb-4 p-3 text-right mb-3" style="display:block">
    <div class="clearfix">
        <div class="votes position-relative float-right pr-3 pl-4  py-0 text-monospace font-weight-bold">
            <div class="text-success"><a href="#"><img src="{% static 'icons/top.svg' %}"></a></div> 
            <div class="text-center">{{ topic.posts.all.first.votes_pos |add:topic.posts.all.first.votes_neg }}</div>
            <div class="text-danger"><a href="#"><img src="{% static 'icons/bottom.svg' %}"></a></div>
        </div>
        <div class="" dir="rtl">
            <img src="{% static 'img/profile.jpg' %}" width="32" class="rounded-circle mt-2 mb-2"/>
            <span class="mr-3"><a href="#">{{topic.posts.all.first.created_by}}</a></span><br>
            <small class="text-muted ml-3"><a href="#"> مجتمع: {{ topic.community }}</a></small>  
            <small class="text-muted ml-3"> قبل:  {{topic.posts.all.first.created_at|naturaltime}}</small>
            <small class="text-muted"> التعليقات:  {{topic.posts.all.count|add:"-1"}}</small>
        </div>
    </div>
    <h5 class="mb-4 mt-3">
        <a href="{% url 'topic' topic.id %}">
            {{ topic.subject }}
        </a>
    </h5>
    <div>
        {{ topic.posts.all.first.get_message_as_markdown }}
    </div>
</article>