{% extends 'base.html' %}


{% block title %} موضوع جديد {% endblock %}

{% block content %}
<form method="POST" novalidate dir="rtl">
    {% csrf_token %}
    {% include '_form.html'%}
    <button type="submit" class="btn btn-success">انشر الموضوع</button>
</form>

{% endblock %}

{% block aside %}
<div class="bg-white p-3 shadow-sm mb-4">
    <h5 class="font-weight-bold">تعابير ماركداون</h5><hr>
    &#x23;&#x23;عنوان 2: <h2 style="display: inline">عنوان 2</h2><br><br>
    &#x23;&#x23;&#x23;عنوان 3: <h3 style="display: inline">عنوان 3</h3><br><br>
    > اقتباس:  <blockquote style="display: inline; "><p style="display: inline;">اقتباس</p></blockquote><br><br>
    **نص مائل**: <span class="font-italic">نص مائل</span><br><br>
    *نص مضغوط*: <span class="font-weight-bold">نص مضغوط</span><br><br>

</div>
{% endblock %}
