{% extends 'base.html' %}


{% block content %}

  <!-- topic post -->
  {% include 'app/_post.html'%}


  <h5 class="mt-5">التعليقات</h5>

  <!-- Comment post -->
  {% for comment in post.comments.all %}
    <div class="mb-3 card-comment">
      {% include 'app/_comment.html'%}
    </div>
    {% endfor%}


{% endblock %}

{% block aside %}
  <div class="bg-white p-3 shadow-sm mb-4">
      <h5><small class="font-weight-bolder">{{ post.community.name }}</small></h5>
      <p> {{ post.community.description }} </p>
  </div>

  <div class="bg-white p-3 shadow-sm mb-4">
      <h5 class="font-weight-bold">أضف محتوى</h5>
      <a class="btn" href="{% url 'add_post' 0 %}">
          <i data-feather="plus"></i><br>
          <span style="font-size: 70%" >موضوع جديد</span>
      </a>
  </div>
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $('.replay').click(function(event) {
      event.preventDefault();
      $(this).parent().next().next('form').toggle();
    });
    $(".btn-control").click(function (event) {
      event.preventDefault();

      var spanVote;
      var activity_type;
      var child =  $(this).children(".feather-chevron-up");
      var parent = $(this).parent(".btn-comment");
      var post_id = {{ post.id}} ;
      var comment_id;

      if (parent.length){
          comment_id = parent.parent().attr('id');
      }


      if (child.length){
        activity_type = 'U';
        var spanVote = $(this).next();
      } else {
        activity_type = 'D';
        var spanVote = $(this).prev();
      };

      $.ajax({
        url: '/vote/',
        type: 'get',
        dataType: 'json',
        data : {'post_id' : post_id,
                'comment_id': comment_id,
                'activity_type': activity_type,
          },
        success: function (data) {
          
          spanVote.text(data.votes);
          }
      });
    });
});
</script>
{% endblock %}