{% extends 'base.html' %}


{% block main %}
<div class="card mb-3">
    <div class="media my-3">
        <img width="120" src="{{ user_profile.profile.avatar.url }}" class="mx-3 rounded-circle" alt="...">
        <div class="media-body">
          <h3 class="mt-0 mb-3 d-inline">{{user_profile.username}}</h3>
          <a  href="{% url 'account' %}" class="badge float-left">تعديل</a>
          <div class="row">
            <div class="col">
              <span class="text-muted">- {{user_profile.get_full_name}}</span><br>
              <span class="text-muted">- {{user_profile.email }}</span><br>
            </div>
            <div class="col">
              <span class="text-muted">- نقاط السمعة: {{ points }}</span><br>
              <span class="text-muted">- عدد مواضيعي: {{ user_profile.posts.count }}</span>
            </div>
          </div>
        </div>
      </div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link pb-0 active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">مواضيعي</a>
    </li>
    <li class="nav-item">
      <a class="nav-link pb-0" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">تعاليقي</a>
    </li>
  </ul>

<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    {% for post in user_profile.posts.all %}
        {% include 'app/_post.html' %}
    {% endfor %}
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    {% for comment in user_profile.comments.all %}
        {% include 'app/_comment.html' %}
    {% endfor %}        
    </div>
</div>
{% endblock %}

