@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);

body{
    background-color: #f2f2f2;
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 17px; 
    line-height: 2em;
}


h1, h2, h3, h4, h5{
    font-family: 'Noto Kufi Arabic', sans-serif;
    color: blue;
}


a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
}


.votes {
    line-height: 150%;
}

article img{
    max-width: 100%;
}

.nav-tabs{
    border-bottom: 2px solid blue;
}

.nav-link {
    padding: 3px 15px;
    margin-bottom: 2px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 14px;
}

.top-arrow, .bottom-arrow{
    filter: invert(7%) sepia(100%) saturate(7194%) hue-rotate(247deg) brightness(106%) contrast(140%);
}
