
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

html, body{
    background-color: #edf2f6;
    line-height: 2rem;
    direction: rtl;
    text-align:right
}

h1, h2, h3, h4, h5{
    font-family: 'Cairo', sans-serif;
}

main{
    min-height: calc(100vh - 193px)
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: none;
} 


/* ____________ colors ________________ */
.secondry{
    color: #9a9fbf !important;
}

.purple{
    color: #7c5ac2;
}

.red{
    color: #f92552 !important;
}

.danger{
    color: #f92552 !important;
}

.green{
    color:#08ddc1 !important;
}

.success{
    color:#08ddc1 !important;
}

.blue{
    color: #38a9ff !important;
}

.primary{
    color: #3f4257 !important;
}

.bg-primary{
    background-color: #3f4257 !important;
}

.bg-secondry{
   background-color: #9a9fbf !important;
}

.bg-success{
    background-color:#08ddc1 !important;
}

.bg-danger{
    background-color: #f92552 !important;
}

.bg-purple{
    background-color: #7c5ac2;
}

/* ____________ card ____________________ */
.card{
    border: none;
}



.card-footer{
    border-top: 0;
}

.post-control-button{
    position: absolute;
    top: 10px;
    right: 20px;
}

.card-comment .card-comment .card{
    border-right: 1px dotted #ccc;
}

.btn-comment{
    position: absolute;
    top: 0px;
    
}

/* fix bootstrap */
.dropdown-menu-right{
    right: -90px;
}

