{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<!-- <html> -->
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>نقاش</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
</head>

<body>
<!-- ---- navbar ---- -->
{% include '_navbar.html' %}

<!-- ---- flash ---- -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} m-0 py-1 px-3 rounded-0">
  {{ message }}
  <button type="button" class="close text-muted float-left" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>
{% endfor %}
{% endif %}



<main role="main" class="container text-right mt-4">
  {% block main %}
  <div class="row">
      <div class="col-md-9">
        {% block header %}{% endblock %}
      </div>
  </div>
  <div class="row mt-3">
      <div class="col-md-9">
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-3">
        {% block aside %}{% endblock %}
      </div>
    </div>
  {% endblock %}
</main>

<footer class="text-center bg-primary p-2 mt-4 ">
  <span class="text-monospace font-italic font-weight-bold" style="color:#222">youssefhoummad</span><br>
  <a href="https://www.github.com/youssefhoummad" target="_blank"><i data-feather="github"></i></a>
  <a href="https://www.twitter.com/youssefhoummad" target="_blank"><i data-feather="twitter"></i></a>
  <a href="mailto:youssefhoummad@outlook.com" target="_blank"><i data-feather="mail"></i></a>
</footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

  <script>
    $(document).ready(function(){
      $('.btn-control').click(function(event) {
        event.preventDefault();
      });
    });
    feather.replace()
  </script>
  {% block javascript %}{% endblock %}
</body>
</html>